{% extends 'base.html.twig' %}

{% block title %}Modifier une salle{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Modifier la salle : {{ salle.nom }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button class="btn btn-warning mt-3">💾 Enregistrer</button>
        <a href="{{ path('app_admin_salle_index') }}" class="btn btn-secondary mt-3">↩ Retour</a>
    {{ form_end(form) }}
</div>
{% endblock %}
